<?xml version="1.0" ?>
<robot name="fanuc_lrmate200id" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:arg
    name="initial_positions_file"
    default="$(find fanuc_sim)/config/initial_positions.yaml"
  />
  <xacro:arg name="hardware_interface" default="mock" />
  <xacro:arg name="mujoco_model" default="description/scene.xml" />
  <xacro:include
    filename="$(find fanuc_sim)/description/lrmate200id_macro.xacro"
  />
  <xacro:include
    filename="$(find fanuc_sim)/description/fanuc_lrmate200id.ros2_control.xacro"
  />

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin rpy="0 0 0" xyz="0 0 0" />
  </joint>
  <xacro:fanuc_lrmate200id prefix="" />
  <xacro:fanuc_lrmate200id_ros2_control
    name="fanuc_robot"
    initial_positions_file="$(arg initial_positions_file)"
    hardware_interface="$(arg hardware_interface)"
    mujoco_model="$(arg mujoco_model)"
  />
</robot>
